.message {
  display: flex;
  color: white;
  align-items: center;
  padding: 30px;
}

.message__info {
  margin-left: 20px;
}

.message__timestamp {
  color: white;
  margin-left: 50em;
  font-size: x-small;
}
